name:
    Workflow

on:
    schedule:
      - cron: '0 13 */2 * *'
    workflow_dispatch:

permissions:
  contents: write

jobs:

    cron:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Repository
              uses: actions/checkout@v3

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: '3.x'

            - name: Install Dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install pandas requests

            - name: Run Extraction Script
              run: |
                  python extract_player.py extract_team.py

            - name: Commit and Push Changes
              uses: stefanzweifel/git-auto-commit-action@v5
              with:
                commit_message: "Automated data extraction update"
                branch: main
